In [1]:
import pandas as pd

In [2]:
reviews = pd.DataFrame(pd.read_csv('review.csv', header = None))

In [3]:
department = pd.DataFrame(pd.read_csv('department.csv', header = None))

In [4]:
professor = pd.DataFrame(pd.read_csv('professor.csv', header = None))

In [5]:
reviews = reviews.rename(columns={0:'review_id', 1:'professor_id', 2:'class_review', 3:'ip_address', 4:'workload', 5:'rating', 6:'timestamp'})

In [7]:
department = department.rename(columns={0:'department_id', 1:'department', 2:'dept_abbrev'})

In [8]:
professor = professor.rename(columns={0:'professor_id',1:'first_name',2:'last_name',3:'uni',4:'approved',5:'culpa_nuggest_rating'})

In [6]:
reviews

,review_id,professor_id,class_review,ip_address,workload,rating,timestamp
0,5,3,Thinking about taking this class because you t...,NaN,"museum project, midterm, final.",2.0,2000-01-01 00:00:00
1,6,4,D'Altroy has the skill of taking an interestin...,NaN,Midterm & Final Exams.,2.0,2000-01-01 00:00:00
2,7,4,Terry D'Altroy is not really a bad professor. ...,NaN,NaN,3.0,2000-01-01 00:00:00
3,8,5,Since 'Anthrop' does end in 'ology' this class...,NaN,Midterm & Final Exams; 3 quizzes; no essays.,3.0,2000-01-01 00:00:00
4,9,5,This monkey class is so awful. Be prepared to ...,NaN,"quizzes, midterm, final.",1.0,2000-01-01 00:00:00
...,...,...,...,...,...,...,...
28366,85570,776,ContentOne,NaN,ContentTwo,5.0,2025-02-26 12:02:39
28367,85571,776,ContentOne,NaN,ContentTwo,5.0,2025-02-26 12:02:39
28368,85572,776,ContentOne,NaN,ContentTwo,5.0,2025-02-26 12:02:39
28369,85573,776,ContentOne,NaN,ContentTwo,5.0,2025-02-26 12:02:40
28370,85574,776,Some Content,NaN,Some workload,5.0,2025-02-27 16:01:29